@import "../../variables";

.task-form-section {
  background-color: $secondary;
  padding: 0 $element-padding;
  position: fixed;
  bottom: 0;
  height: $task-form-section-height;
  width: 100%;
}

@media screen and (min-width: 330px) {
  .task-form-section {
    width: $desktop-width;
  }
}
