@import "../../variables";

.header {
  background-color: $secondary;
  color: $light;
  height: 6.5rem;
  padding: 1.1875rem 1rem;
  &__day {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 52px;
    margin: 0;
  }
}
