$primary: #15cda1;
$secondary: #171d4d;
$secondary-light: #333f99;
$light: #fff;

// Typography
$font-family: "Nunito", sans-serif;

// Sizes
$element-padding: 1rem;
$desktop-width: 30rem;
$mobile-width: 100%;
$tasks-height-desktop: 23.9375rem;
$tasks-height-mobile: 25.9375rem;
$header-height: 6.5rem;
$task-list-section-height: 6.5rem;
$task-form-section-height: 8.9375rem;
