$primary: #15cda1;
$secondary: #171d4d;
$secondary-light: #333f99;
$light: #fff;

// Typography
$font-family: "Nunito", sans-serif;

// Sizes
$element-padding: 1rem;
$desktop-width: 30rem;
$mobile-width: 100%;
