@import "../../variables";

.home {
  background-color: $primary;
  height: 100vh;
  margin: 0 auto;
  width: $desktop-width;
}

@media screen and (max-width: 390px) {
  .home {
    width: $mobile-width;
  }
}
